.about-me {
  padding: 50px;
  padding-bottom: 400px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.background-image {
  background: url("/src/my-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
}
.project-heading {
  text-align: center;
}
.contact-text {
  text-align: center;
}
.contact-picture {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
