body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.about-me {
  padding: 50px;
  padding-bottom: 400px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.background-image {
  background: url("/src/my-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
}
.project-heading {
  text-align: center;
}
.contact-text {
  text-align: center;
}
.contact-picture {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .home-photo {
    max-width: 200px;
    margin: 0 auto;
  }
  .homepage-grid {
    text-align: center;
  }
}
.project-button {
  background: #00aaf8;
  color: #fff1eb;
  font-family: "Kanit", sans-serif;
}
.contact-button {
  background: #00aaf8;
  color: fff1eb;
  font-family: "Kanit", sans-serif;
}
.heading {
  color: #6e2100;
  font-family: "Kanit", sans-serif;
}
.sub-heading {
  color: #af3500;
  font-family: "Kanit", sans-serif;
}

.paragraph {
  color: #df622d;
  font-family: "Kanit", sans-serif;
}
