body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.about-me {
  padding: 50px;
  padding-bottom: 400px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}
.about-picture {
  background: url("/src/my-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
}

.project-heading {
  text-align: center;
}
.contact-text {
  text-align: center;
}
.contact-picture {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.all-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 300px;
}
@media (max-width: 990px) {
  .all-projects {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  .website-buttons {
    display: none;
  }
}
@media (min-width: 768px) {
  .about-photo {
    display: none;
  }
}
@media (max-width: 576px) {
  .home-photo {
    max-width: 200px;
    margin: 0 auto;
  }
  .all-grids {
    text-align: center;
  }
}
.all-buttons {
  background: #00aaf8;
  color: #fff1eb;
  font-family: "Kanit", sans-serif;
  margin: 10px 0px 10px 0px;
}
.heading {
  color: #6e2100;
  font-family: "Kanit", sans-serif;
}
.sub-heading {
  color: #af3500;
  font-family: "Kanit", sans-serif;
}

.paragraph {
  color: #df622d;
  font-family: "Kanit", sans-serif;
}
.home-photo {
  max-width: 350px;
}
